@{
    ViewData["Title"] = "Current Weather";
}

@model WeatherDataObjects

<div class="text-center">
    <h1 class="display-4">Today's Forecast in @Model.name:</h1>
    <img src=@Model.iconURI alt="Weather icon" />
    <p>The weather outside feels like @Model.main.feels_like degrees fahrenheit</p>
    <p>The temperature is @Model.main.temp degrees fahrenheit</p>
    <p>The high for today is @Model.main.temp_max fahrenheit</p>
    <p>The low for today is @Model.main.temp_min fahrenheit</p>
</div>

